<header>
    <nav class="navbar navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <!-- Logo -->
            <a class="navbar-brand" href="#">
                <div class="container-logo">
                    <p>Iron Horse</p>
                </div>
            </a>
            
            <!-- Toggler para dispositivos móviles -->
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <!-- Offcanvas navbar para móvil -->
            <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Emprende una nueva aventura</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <!-- Home link -->
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" routerLink='/'>Home</a>
                        </li>
                        <!-- Blog link -->
                        <li class="nav-item">
                            <a class="nav-link" routerLink='/blog-page'>Blog</a>
                        </li>
                        <!-- Login link -->
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/login">Iniciar Sesión</a>
                        </li>
                        <!-- About us link -->
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/sobre-nosotros">Sobre nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/perfil-user">Perfil</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    </header>
  <div class="container-fluid">
        <div class="row">
           
            <div class="col-md-2 bg-dark text-white min-vh-100">
                <div class="p-3">
                    <h4>Usuario Dashboard</h4>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#">Crear Publicación</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#">Ver publicación</a>
                        </li>
                       
                    </ul>
                </div>
            </div>

            <!-- Main Content -->
            <div class="col-md-10">
                <div class="container mt-4">
                    <h2>Bienvenido</h2>
                    <div class="row">
                        <!-- Crear Publicación Card -->
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Crear Publicación</h5>
                                    <p class="card-text">Haz clic aquí para crear una nueva publicación.</p>
                                    <a href="#" class="btn btn-primary">Crear</a>
                                </div>
                            </div>
                        </div>

                       
                        <!-- Ver Usuarios Card -->
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Ver Publicación</h5>
                                    <p class="card-text">Haz clic aquí para ver los publicación</p>
                                    <a href="#" class="btn btn-info">Ver Publicación</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
